*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  background:transparent; 
  font-family:'Poppins',sans-serif;
}

body{
  background-color:  rgb(30,30,30);
  color:rgb(130, 218, 238);
  overflow:hidden;
  overflow-y: scroll;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
   Geneva, Verdana, sans-serif;
}