.footer{
    width:100vw;
    height: 4rem;
    background: rgba(220, 37, 37, 0.088);
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}